<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1436,1747},{153,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,183}}</string>
				<key>sourceSize</key>
				<string>{153,183}</string>
			</dict>

			<key>02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,312},{166,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,195}}</string>
				<key>sourceSize</key>
				<string>{166,195}</string>
			</dict>

			<key>03.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,1837},{180,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,210}}</string>
				<key>sourceSize</key>
				<string>{180,210}</string>
			</dict>

			<key>04.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,1811},{191,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{191,217}}</string>
				<key>sourceSize</key>
				<string>{191,217}</string>
			</dict>

			<key>05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1819},{203,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,219}}</string>
				<key>sourceSize</key>
				<string>{203,219}</string>
			</dict>

			<key>06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1263,1794},{172,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,231}}</string>
				<key>sourceSize</key>
				<string>{172,231}</string>
			</dict>

			<key>07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1311,1518},{165,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,228}}</string>
				<key>sourceSize</key>
				<string>{165,228}</string>
			</dict>

			<key>08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,1811},{182,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,227}}</string>
				<key>sourceSize</key>
				<string>{182,227}</string>
			</dict>

			<key>09.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,1795},{199,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,238}}</string>
				<key>sourceSize</key>
				<string>{199,238}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1123,1231},{185,269}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,269}}</string>
				<key>sourceSize</key>
				<string>{185,269}</string>
			</dict>

			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,614},{225,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,279}}</string>
				<key>sourceSize</key>
				<string>{225,279}</string>
			</dict>

			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1776},{206,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,268}}</string>
				<key>sourceSize</key>
				<string>{206,268}</string>
			</dict>

			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,0},{205,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,304}}</string>
				<key>sourceSize</key>
				<string>{205,304}</string>
			</dict>

			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1129,1501},{181,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,292}}</string>
				<key>sourceSize</key>
				<string>{181,292}</string>
			</dict>

			<key>15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,312},{172,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,283}}</string>
				<key>sourceSize</key>
				<string>{172,283}</string>
			</dict>

			<key>16.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1479},{223,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,296}}</string>
				<key>sourceSize</key>
				<string>{223,296}</string>
			</dict>

			<key>17.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,305},{207,303}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{207,303}}</string>
				<key>sourceSize</key>
				<string>{207,303}</string>
			</dict>

			<key>18.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,1520},{237,316}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,316}}</string>
				<key>sourceSize</key>
				<string>{237,316}</string>
			</dict>

			<key>19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{259,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,310}}</string>
				<key>sourceSize</key>
				<string>{259,310}</string>
			</dict>

			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1315,508},{164,318}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,318}}</string>
				<key>sourceSize</key>
				<string>{164,318}</string>
			</dict>

			<key>21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1311,1231},{165,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,286}}</string>
				<key>sourceSize</key>
				<string>{165,286}</string>
			</dict>

			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,1222},{201,278}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,278}}</string>
				<key>sourceSize</key>
				<string>{201,278}</string>
			</dict>

			<key>23.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,305},{203,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,289}}</string>
				<key>sourceSize</key>
				<string>{203,289}</string>
			</dict>

			<key>24.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,1504},{214,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,290}}</string>
				<key>sourceSize</key>
				<string>{214,290}</string>
			</dict>

			<key>25.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,0},{214,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,304}}</string>
				<key>sourceSize</key>
				<string>{214,304}</string>
			</dict>

			<key>26.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,1222},{215,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{215,281}}</string>
				<key>sourceSize</key>
				<string>{215,281}</string>
			</dict>

			<key>27.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,921},{236,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{236,272}}</string>
				<key>sourceSize</key>
				<string>{236,272}</string>
			</dict>

			<key>28.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,621},{227,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{227,274}}</string>
				<key>sourceSize</key>
				<string>{227,274}</string>
			</dict>

			<key>29.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,918},{200,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,287}}</string>
				<key>sourceSize</key>
				<string>{200,287}</string>
			</dict>

			<key>30.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,621},{247,299}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,299}}</string>
				<key>sourceSize</key>
				<string>{247,299}</string>
			</dict>

			<key>31.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,1194},{224,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,284}}</string>
				<key>sourceSize</key>
				<string>{224,284}</string>
			</dict>

			<key>32.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1225},{246,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{246,294}}</string>
				<key>sourceSize</key>
				<string>{246,294}</string>
			</dict>

			<key>33.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,1194},{232,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,304}}</string>
				<key>sourceSize</key>
				<string>{232,304}</string>
			</dict>

			<key>34.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,311},{258,309}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{258,309}}</string>
				<key>sourceSize</key>
				<string>{258,309}</string>
			</dict>

			<key>35.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1520},{242,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{242,298}}</string>
				<key>sourceSize</key>
				<string>{242,298}</string>
			</dict>

			<key>36.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,894},{217,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,293}}</string>
				<key>sourceSize</key>
				<string>{217,293}</string>
			</dict>

			<key>37.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,0},{221,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{221,300}}</string>
				<key>sourceSize</key>
				<string>{221,300}</string>
			</dict>

			<key>38.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,918},{218,303}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,303}}</string>
				<key>sourceSize</key>
				<string>{218,303}</string>
			</dict>

			<key>39.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,301},{220,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,302}}</string>
				<key>sourceSize</key>
				<string>{220,302}</string>
			</dict>

			<key>40.png</key>
			<dict>
				<key>frame</key>
				<string>{{1132,0},{179,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,311}}</string>
				<key>sourceSize</key>
				<string>{179,311}</string>
			</dict>

			<key>41.png</key>
			<dict>
				<key>frame</key>
				<string>{{1312,0},{163,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,307}}</string>
				<key>sourceSize</key>
				<string>{163,307}</string>
			</dict>

			<key>42.png</key>
			<dict>
				<key>frame</key>
				<string>{{1326,827},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>43.png</key>
			<dict>
				<key>frame</key>
				<string>{{1127,609},{187,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,308}}</string>
				<key>sourceSize</key>
				<string>{187,308}</string>
			</dict>

			<key>44.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,609},{203,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,308}}</string>
				<key>sourceSize</key>
				<string>{203,308}</string>
			</dict>

			<key>45.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,604},{220,313}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,313}}</string>
				<key>sourceSize</key>
				<string>{220,313}</string>
			</dict>

			<key>46.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,1504},{208,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,306}}</string>
				<key>sourceSize</key>
				<string>{208,306}</string>
			</dict>

			<key>47.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,918},{200,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,312}}</string>
				<key>sourceSize</key>
				<string>{200,312}</string>
			</dict>

			<key>48.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,311},{230,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,302}}</string>
				<key>sourceSize</key>
				<string>{230,302}</string>
			</dict>

			<key>49.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,0},{225,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,308}}</string>
				<key>sourceSize</key>
				<string>{225,308}</string>
			</dict>

			<key>50.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,921},{246,303}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{246,303}}</string>
				<key>sourceSize</key>
				<string>{246,303}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>